@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik+Dirt&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 1.5em;
    line-height: 1.5em;
    --heading-font: "Rubik Dirt", arial, sans-serif;
    --paragraph-font: Poppins, Helvetica, sans-serif;
}

nav a {
    padding: 35px;
    color: #78c5d7;
    text-align: center;
    text-decoration: none;
}
#hero-msg {
    padding: 15px;
    text-align: center;
    font-family: Rubik Dirt, arial, sans-serif;
}
#hero-msg h1 {
    padding: 15px;
    text-align: center;
    font-family: Rubik Dirt, arial, sans-serif;
}
#hero-msg h4 {
    padding: 15px;
    text-align: center;
    font-family: Rubik Dirt, arial, sans-serif;
}
.button-box {
    padding: 15px;
    text-align: center;
    font-family: Poppins, Helvetica, sans-serif;
}
main section {
    text-align: center;
    font-family: Poppins, Helvetica, sans-serif;
    
}
.home-title {
    margin-top: 10px;
    color: #78c5d7;
    font-family: Rubik Dirt, arial, sans-serif;
    font-size: 2em 
}
#background {
    height: 725px;
    background-color: #134266
}
h4 {
    margin: 0;
    padding: 0;
    color: #78c5d7;
}
body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Helvetica, sans-serif;
    background-color: #134266
}
header {
    font-family: Rubik Dirt, arial, sans-serif;
    background-color: #134266 
}
nav a:hover {
    color: #78c5d7;
    background-color: #134266
}
.book, .join {
    margin-top: 50px;
    padding: 15px 30px;
    border-radius: 5px;
    text-align: center;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 18px; 
    color: #78c5d7;
    background-color: #134266
}
    
.book-hover, .join-hover {
    color: #78c5d7;
    background-color: #134266
}

.msg {
    padding: 35px;
    background-color: #134266;
    line-height: 1.5em;
}
msg h2 {
    color: #78c5d7;
}
msg p {
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 2em;
    color: #78c5d7;
}
footer {
    margin-top: 100px;
    padding: 25px 50px;
    text-align: center;
    color: #78c5d7;
    background-color: #134266
}
footer a {
    color: #78c5d7;
    text-decoration: none;
}
footer a:hover {
    color: #78c5d7;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.logo {
    padding-top: 5px;
    width: 80px;
}
.icon {
    width: 80px;
}  
#hero-img {
    padding: 10px 10px;
    width: 95%;
    box-sizing: border-box;    
}
.card-img {
    border: 10px solid #78c5d7;
}
